# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# next.js build output
/.next/
/out/
/build

# env files (never commit secrets)
.env
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
.vercel

